header {
    background-color: #333;
    color: white;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  main {
    padding: 20px;
  }
  
  #date-range {
    margin-bottom: 20px;
  }
  
  #games-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .game-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: calc(50% - 20px);
  }
  
  #games-pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination-button {
    background-color: #333;
    color: white;
    border: none;
    padding: 8px 15px;
    margin:0 5px;
    cursor:pointer;
  }

  .pagination-button.active{
    background-color: #555;
  }